<!DOCTYPE html>
<head>
	<title>Project 2</title>
	<link rel="stylesheet" style="text/css" href="../../assets/stylesheets/style.css" >
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<%= link_to(root_path) do %>
			  <div class="logo">
			  </div>
		    <% end %>
			<div class="nav-social">
				<div class="social-icons">
				</div>
				<div class="navigation">
					<ul>
						<li><a href="about">About</a></li>
						<li><a href="news">News</a></li>
						<li><a href="shows">Shows</a></li>
						<li><a href="music">Music</a></li>
						<li><a href="video">Video</a></li>
						<li><a href="photos">Photos</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="content">
				<h1>About This Awesome Rock Band</h1>
				<p>This is a super awesome rock band that has been traveling the world for several years, rocking the socks off of every audience who has ever seen them play.  They have amazing musicianship, super catchy songs, and amazingly energetic stage antics.  They're definitely a must-see band.</p>
			</div>
		</div>
	</div>
</body>
</html>