
<h1>What Do You Want To Update?</h1>

<div class="options">
	<div class="left">
    <p><%= link_to 'Shows', tourdate_path %></p>
  </div>
  <div class="right">
    <p><%= link_to 'Posts', post_path %></p>
  </div>
</div>