h1 {
	text-align: center;
	font-family: Arial;
}

.page-contents {
	background-color: orange;
	width: 50%;
	height: 75%;
	margin: 0 auto;
	border-radius: 5px;
}

.new-entry {
	position: absolute;
	font-family: Arial;
	padding-left: 5px;
	padding-top: 2px;
}

.nav-button {
	position: relative;
	float: right;
	font-family: Arial;
	margin-top: -15px;
	padding-right: 5px;
	padding-top: 2px;
}

.page-contents table {
	background-color: red;
	position: relative;
	width: 100%;
	margin-top: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.page-contents table th {
	text-align: left;
}

.field {
	padding-left: 10px;
	padding-top: 5px;
}

.actions {
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: -7px;
}

.back-button {
	float: right;
	padding-right: 8px;
	padding-top: 3px;
	font-family: Arial;
}