h1 {
	text-align: center;
	font-family: Arial;
}

.page-contents {
	background-color: orange;
	width: 50%;
	height: 75%;
	margin: 0 auto;
	border-radius: 5px;
}

.new-entry {
	position: absolute;
	font-family: Arial;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-top: 5px;
}

.nav-button {
	position: relative;
	float: right;
	font-family: Arial;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-top: 5px;
}

.page-contents table {
	background-color: red;
	position: relative;
	width: 100%;
	margin-top: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.page-contents table th {
	text-align: left;
}

.page-contents p {
	margin: 10px;
	padding-top: 5px;
}

.field {
	padding-left: 10px;
	padding-top: 5px;
}

.text-area {
	position: relative;
	width: 75%;
	padding-left: 10px;
	padding-bottom: 10px;
}

.actions {
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: -7px;
}

.back-button {
	float: right;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
}


.options {
	background-color: green;
	width: 40%;
	margin: 0 auto;
	border-radius: 5%;
}

.left {
	background-color: orange;
	width: 40%;
	float: left;
}

.left p {
	font-family: Arial;
	font-size: 30px;
	text-align: center;
}

.right {
	background-color: orange;
	width: 40%;
	float: right;
}

.right p {
	font-family: Arial;
	font-size: 30px;
	text-align: center;
}